%ol.rounded-list
	- @article.comments.each do |comment|
		%li.rectangle-list
			.user
				= image_tag "/img/default_user_avatar.png" #comment.user.avatar ||
			.body
				.username
					Оставил пользователь : <b>#{link_to comment.author_username, user_path(comment.user.id)}</b>, #{format_date comment.created_at}
				%br
				.content
					= comment.body
			.clearfix