- provide(:title, "Список неопубликованных статей")
%h1 Статьи с отметкой 'Без публикации' :
- if !@articles.empty?
  .paginate= paginate @articles
  = render @articles
  .paginate= paginate @articles
  %br
- else
  .no-content
    Подготовленных для публикации статей нет!
  %br

- if can? :create, Article
  = link_to 'Создать новую статью', new_article_path