#articles {
	width: 820px;
	float: left;
}

#aside {
	padding: 0 5px;
	margin-left: 820px;

	h3 {
		background-color: #e4ebee;
		padding: 5px;
		color: #333;
		text-align: center;
	}

	li {
		list-style: none;
		padding: 0 5px;
	}

	li a.atag {
		display: block;
		width: 45%;
		float: left;
		text-align: center;
		background: #a5d1e4;
		margin-left: 2px;
		margin-bottom: 2px;
		padding: 3px;
		color: #fff;
	}
}

#article {

	.published {
		width: 140px;
		display: inline-block;
		float: left;
		position: relative;
		text-align: center;
	}

	.t {
		float: left;
		width: 680px;

		.tag a{
			font-size: $base-font-size - 1;
		}

		.tag a:hover{
			text-decoration: underline;
		}

		.title {
			border-bottom: 1px solid #c2c2c2;
			h3 {
				margin: 0;
				padding: 0;
			}

			a:hover {
				color: #758EA2;
			}
		}

		.author {
			color: #CCC;
			font-size: $base-font-size + 2;
		}

		.content {
			margin: 15px 0;
		}

		.fullread {
			text-align: right;
			a {
				font-size: $base-font-size - 1;
			}
			a:hover{
				text-decoration: underline;
				color: #758EA2;
			}
		}
	}

	.day {
		font-weight: bolder;
		font-size: 30px;
		color: #f38670;
	}

	.month {
		font-size: $base-font-size + 3;
		color: #B2B2B2;
	}

	.year {
		margin: 0;
		padding: 0;
		font-size: 19px;
		font-weight: bolder;
		color: #B2B2B2;
		line-height: 1;
	}

	.category a {
		padding: 4px;
		@include border-radius(4px);
		background-color: #758EA2;
		color: #fff;
	}

	.category a:hover {
		background: #479ccf;
	}
}

.articles-links {

	background-color: #e4ebee;
	padding: 5px;

	ul li {
		display: inline-block;
	}
}

#article-show {

	width: 100%;
	padding: 3px;
	background: #EEE;
	@include border-radius(3px);

	span.title {
		font-size: $base-font-size + 3;
		line-height: 20px;
		font-weight: bold;
		padding: 10px 10px;
		color: #555;
		text-shadow: 0 1px 0 #fff;
		display: block;
		border: 1px solid #CACACA;
		border-bottom: 0 none;
		background-color: #f7f7f7;
		background-repeat: repeat-x;
	}

	span.footer {
		font-size: $base-font-size;
		line-height: 20px;
		padding: 10px 10px;
		color: #555;
		text-shadow: 0 1px 0 #fff;
		display: block;
		border: 1px solid #CACACA;
		border-top: 0 none;
		background-color: #f7f7f7;
		background-repeat: repeat-x;
		overflow: hidden;

		.item {
			float: left;
			width: 25%;
			text-align: center;
		}

	}

	.body {
		background-color: #fff;
		@include _border(#CACACA);
		padding: 30px;
		overflow: hidden;
	}

	.date {

		width: 50%;
		float: left;

		.published{
			border-left: 2px dotted #88b5cf;
			padding: 2px 5px;
			color: #9e9e9e;
			font-size: $base-font-size + 1;
		}

		.changed {
			font-size: 9px;
			color: #333;
			padding: 3px 0;
		}
	}

	.t {

		.title {
			color: #8ab9d4;
			h3 {
				margin: 0;
				color: #e4aa98;
			}
		}

		.author {
			color: #9e9e9e;
			font-size: $base-font-size + 1;
		}

		.content {
			font-size: $base-font-size + 2;
		}

		.category {
			float: right;
		}

		.category a {
			padding: 4px;
			@include border-radius(4px);
			background-color: #758EA2;
			color: #fff;
		}

		.category a:hover {
			background: #479ccf;
		}

		.name {
			h1 {
				font-size: 2.5em;
				border-bottom: 1px solid #ddd;
			}
		}

		.views {
			float: right;
			font-size: $base-font-size;
			color: #666;
		}

	}

}