.users {
	table {
		width: 100%;

		th {
			background-color: #ebeef4;
			padding: 8px;
			border-left: 2px solid #fff;
		}

		td {
			padding: 3px;
			padding-left: 6px;
			a:hover {
				text-decoration: underline;
			}

		}

		tr:hover {
			background-color:#ebeef4;
			border-bottom-color:#dde2ed;
			border-top:solid 1px #dde2ed;
			cursor: pointer;
		}
	}
}

.show-user {

	.user-info {
		width: 75%;
		border-right: 1px solid #CCC;
		float: left;

		table {
			width: 100%;

			td {
				font-size: 14px;
				padding: 8px;
				border-right: 3px solid #fff;
			}

			tr:nth-child(2n+1) {background: #f9edd5;}
		}

		texarea {
			width: 80%;
		}

	}

	ul {
		margin-left: 15px;
		padding-left: 77%;
	}

	li {
			list-style-type: none;
	}

	a {
		display: block;
		padding: 5px;
	}

	a:hover {
		background-color: #b3d4fc;
		color: #fff;
	}

}

@import "register";
@import "auth";