.users {
	table {
		width: 100%;
	}
}

.show-user {

	.user-info {
		width: 75%;
		border-right: 1px solid #CCC;
		float: left;

		table {
			width: 100%;

			td {
				font-size: 14px;
				padding: 8px;
				border-right: 3px solid #fff;
			}

			tr:nth-child(2n+1) {background: #f9edd5;}
		}

		texarea {
			width: 80%;
		}

	}

	ul {
		margin-left: 15px;
		padding-left: 77%;
	}

	li {
			list-style-type: none;
	}

	a {
		display: block;
		padding: 5px;
	}

	a:hover {
		background-color: #b3d4fc;
		color: #fff;
	}

}

.user-info {
	
}

@import "register";
@import "auth";