/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin box-shadow($left, $top, $blur, $color:#000)
  -webkit-box-shadow: $left $top $blur $color
  -moz-box-shadow: $left $top $blur $color
  box-shadow: $left $top $blur $color


@mixin border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -o-border-radius: $radius
  border-radius: $radius

@mixin _border($color, $style: solid)
  border: 1px $style $color