/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

ul, li {
    margin: 0;
    padding: 0;
}

a {
    color: #479ccf;
    text-decoration: none;
}

h2 {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    font-weight: normal;
    color: #999;
}

h1 {
    font-size: 2.0em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    font-weight: normal;
    color: #999;
}

.headline1 {
    border-left: 7px solid #479ccf;
    margin: 5 -30px 15px -22px;
    padding: 5px 15px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

    /* Блок с опциями */

    #features {
    }

    #features-row {
        background: #f2f7fa;
        border-bottom: 1px solid #d9dee1;
        height: 105px;
    }

    #features-wrap {
        width: 1020px;
        margin: 0 auto;
    }

    #features-wrap a {
        display: inline-block;
        height: 104px;
        width: 125px;
        text-align: center;
        font-size: 14px;
        padding-bottom: 5px;
        margin-top: -5px;
        margin-left: 15px;
    }

    #features-wrap a:hover {
        border-bottom: 3px solid #479ccf;
    }

    .features-icon {
        margin-top: 25px;
        margin-bottom: -20px;
        display: block;
        height: 64px;
    }

    /* Блок с контентом */

    #content-wrap {
        width: 1020px;
        margin: 0 auto;
        height: 100%;
    }

    /* Блок с авторизацией */

    #toolbox {
        width: 100%;
    }

    #user {
        height: 25px;
        background: #f5f5f5;
        margin: 0;
        padding: 14px;
        width: 700px;
        float: left;
    }

    #user, #register a:hover {
        text-decoration: underline;
    }

    #user ul li {
        display: block;
        float: left;
        font-size: 15px;
    }

    #now-date {
        float: right;
        background-color: #F1F1F1;
        margin: 0;
        padding: 14px;
        height: 25px;
        width: 260px;
        text-align: right;
        color: #333;
    }

    label {
        font-size: 12px;
        font-weight: 400;
        color: #848484;
        text-transform: uppercase;
        display: block;
    }

    .field-about {
        line-height: 13px;
        color: #999999;
        margin-top: 5px;
    }

    #register-header {
        font-size: 15px;
    }

    #registration-footer {
        background: #f1f1f1;
        padding: 10px;
    }

    #admin-res {
        padding: 10px;
        margin-top: 5px;
        background: #fff0f0;
        border: 1px dashed #f38670;
        overflow: hidden;
    }

    #admin-res ul li {
        list-style-type: none;
    }

    #admin-res ul li a:hover {
        text-decoration: underline;
    }

    .admin-item {
        float: left;
        width: 32%;
    }

    /* Пагинация */

    .paginate {
        width: 100%;
        margin: 10px auto;
        padding: 5px;
        text-align: center;
    }

    .paginate a {
        display: inline-block;
        padding: 5px;
        color: #fff;
        background-color: #479ccf;
        border-radius: 4px;
    }

    .paginate a:hover {
        text-decoration: underline;
    }

    /* меню действий */

    .manage-item {
        text-align: right;
    }

    .manage-item a {
        display: inline-block;
        padding: 5px;
        font-size: 14px;
        background-color: #f38670;
        color: #fff;
    }

    .manage-item a:hover {
        text-decoration: underline;
    }

    /* Формы */

    .input-helper {
        color: #C2C2C2;
        font-size: 13px;
    }