-provide(:title, "Просмотр списка зарегистрированных пользователей")
.users
	%h1 Список зарегистрированных пользователей:
	-unless @users.empty?
		%table
			%tr
				%th Логин:
				%th Email:
				%th Привилегии:
				%th Пол:
				%th Дата регистрации:
				%th Профиль:
				%th	Профиль:
				%th Аккаунт:
			=render @users